<div class="saleslist">
<br>
<h1>รายการใบสั่งซื้อ</h1>
<br>

<table id="saleslist">
    <thead>
        <tr>
            <th>Service Order</th>
            <th>วันที่สั่งซื้อ</th>
            <th>ผู้รับผิดชอบ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <% rows.forEach(rows => { %>
                <tr>
                    <td><%= rows.SO %></td>
                    <td><%= rows.order_date %></td>
                    <td><%= rows.employee %></td>
                    <td><button type="button" class="btn btn-outline-info">รายละเอียด</button></td>
                </tr>
                <% }); %>
            
            </tbody>
 </table>
 <script>
        $(function () {
        let table = $('#saleslist').DataTable();
        $('#saleslist tbody').on('click', 'tr', function () {
            const val = table.row(this).data();
            const saleid = val[0]
            //console.log(saleid)
            $("#saleID").val(saleid)
            $("#saleForm").attr('action','/order').submit()  
        })
    } );
    </script>
    <form method="post" name="saleForm" id="saleForm">
        <input type="hidden" id="saleID" name="saleID">
    </form>
    </div>
    
  